@page "{Id:min(1)}"
@model ZealandZooEvent.Pages.Events.DeleteEvent
@{
    ViewData["Title"] = "DeleteEvent";
}
<h1>
    DeleteEvent
</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Event.Id" />
            <div class="form-group">
                <label asp-for="@Model.Event.Name" class="control-label"></label>
                <input asp-for="@Model.Event.Name" class="form-control" readonly />
                <span asp-validation-for="@Model.Event.Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Event.Location" class="control-label"></label>
                <input asp-for="@Model.Event.Location" class="form-control" readonly />
                <span asp-validation-for="@Model.Event.Location" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Event.Time" class="control-label"></label>
                <input asp-for="@Model.Event.Time" class="form-control" readonly />
                <span asp-validation-for="@Model.Event.Time" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Event.Price" class="control-label"></label>
                <input asp-for="@Model.Event.Price" class="form-control" readonly />
                <span asp-validation-for="@Model.Event.Price" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Event.Description" class="control-label"></label>
                <input asp-for="@Model.Event.Description" class="form-control" readonly />
                <span asp-validation-for="@Model.Event.Description" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Event.PictureUrl" class="control-label"></label>
                <input asp-for="@Model.Event.PictureUrl" class="form-control" readonly />
                <span asp-validation-for="@Model.Event.PictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="ViewEvent" asp-route-id="@Model.Event.Id">Back to event</a>
</div>

